* { margin: 0; padding: 0; }

html { text-align: center; background: #EEE; }
body { width: 800px; margin: 0 auto; padding: 20px; text-align: left; background: #FFF; }

button { font-weight: bold; border: none; color: #00F; background: none; cursor: pointer; }

#chessboard { margin: 20px auto; border-collapse: collapse; }
#chessboard td { width: 50px; height: 50px; text-align: center; vertical-align: middle; border: 1px solid #666; }
#chessboard tr:nth-child(odd) td:nth-child(even) { background: #CCC; }
#chessboard tr:nth-child(even) td:nth-child(odd) { background: #CCC; }
#chessboard td.moved  { background: #DDA !important; }
#chessboard td.checked  { background: #EAA !important; }
#chessboard td.selected { background: #0C0 !important; }
#chessboard td.avail { background: #ADA !important; }
#chessboard td.statusBar { border: none; }

.tieProposal { width: 220px; margin: 0 auto 10px auto; padding: 10px; border: 1px solid #666; }

#chessboard .tile { display: block; width: 50px; height: 50px; background: url(TileSet.png); }

#chessboard .tile.P { background-position: -239px -144px; }
#chessboard .tile.K { background-position:  -96px -144px; }
#chessboard .tile.B { background-position: -142px -144px; }
#chessboard .tile.R { background-position: -190px -144px; }
#chessboard .tile.Q { background-position:  -46px -144px; }
#chessboard .tile.X { background-position:    2px -144px; }

#chessboard .tile.p { background-position: -238px -49px; }
#chessboard .tile.k { background-position:  -96px -49px; }
#chessboard .tile.b { background-position: -142px -49px; }
#chessboard .tile.r { background-position: -188px -49px; }
#chessboard .tile.q { background-position:  -46px -49px; }
#chessboard .tile.x { background-position:    2px -47px; }

#chessLog { width: 250px; margin: 0 auto; font-size: 20px; font-family: monospace; }

#advanceDialog {
    position: absolute; top: 245px; padding: 20px; margin-left: 315px;
    font-weight: bold; border: 1px solid #000; background: #FFF;
}

.positive { color: #090; }
.negative { color: #F00; }
