<!doctype html>
<html lang="en"{% block htmlAttributes %}{% endblock %}>
<head>
    <meta charset="utf-8">
    <link rel="icon" href="{{ asset('bundles/chess/favicon.ico') }}" />
    <link rel="stylesheet" type="text/css" href="{{ asset('bundles/chess/style.css') }}" />
    <script src="{{ asset('bundles/chess/angular.min.js') }}"></script>
    <script src="{{ asset('bundles/chess/app.js') }}"></script>
    <title>Chess - {% block title %}default title{% endblock %}</title>
</head>
    <body>
    {% block body %}
        <div class="block">
            {% block content %}{% endblock %}
        </div>
    {% endblock %}
    </body>
</html>