{% extends "AcmeChessBundle::layout.html.twig" %}

{% block title "home page" %}

{% block content %}
    <h1>Chess - home page</h1>
    <a href="{{ path('chess_createTable', {'player': 'white'}) }}">start new game (white)</a>
    <br>
    <a href="{{ path('chess_createTable', {'player': 'black'}) }}">start new game (black)</a>
{% endblock %}
